<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellLengths</key>
	<array>
		<integer>500</integer>
		<integer>2000</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>1000</integer>
		<real>1000</real>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>100</integer>
		<integer>3000</integer>
		<integer>100</integer>
		<integer>1</integer>
	</array>
	<key>Description</key>
	<string>Handle the comings and goings of the Southern Pacific's San Francisco-&gt;San Jose commute fleet in the early 1920's.  The setting here is SP's long-lost Market Street station, just north of downtown San Jose.  In this simulation, you'll need to thread long-distance trains past the two-track 1880's station.</string>
	<key>Endpoints</key>
	<array>
		<dict>
			<key>Location</key>
			<string>0, 2</string>
			<key>Name</key>
			<string>To SF</string>
		</dict>
		<dict>
			<key>Location</key>
			<string>0, 3</string>
			<key>Name</key>
			<string>From SF</string>
		</dict>
		<dict>
			<key>Location</key>
			<string>19, 1</string>
			<key>Name</key>
			<string>Oakland</string>
		</dict>
		<dict>
			<key>Location</key>
			<string>19, 5</string>
			<key>Name</key>
			<string>LA</string>
		</dict>
		<dict>
			<key>Location</key>
			<string>2, 1</string>
			<key>Name</key>
			<string>Coach Yard</string>
		</dict>
		<dict>
			<key>Location</key>
			<string>3, 0</string>
			<key>Name</key>
			<string>Freight Yard</string>
		</dict>
		<dict>
			<key>Location</key>
			<string>13, 2</string>
			<key>Name</key>
			<string>Market St. #1</string>
		</dict>
		<dict>
			<key>Location</key>
			<string>13, 3</string>
			<key>Name</key>
			<string>Market St. #2</string>
		</dict>
		<dict>
			<key>Location</key>
			<string>13, 4</string>
			<key>Name</key>
			<string>Market St. #3</string>
		</dict>
	</array>
	<key>Labels</key>
	<dict>
		<key>College Park Yard</key>
		<string>6, 6</string>
		<key>Market Street Station</key>
		<string>13, 6</string>
	</dict>
	<key>Name</key>
	<string>San Jose Market Street Station</string>
	<key>Schematic</key>
	<array>
		<string>   --z               </string>
		<string>  --z \        Z---. </string>
		<string>.Q--qp-pQ-----Y      </string>
		<string>.-pPQ----pQ----r     </string>
		<string>     \     W----r    </string>
		<string>      W-         W-. </string>
		<string>                     </string>
	</array>
	<key>Signals</key>
	<array>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>19, 5</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>19, 1</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>13, 2</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>13, 3</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>13, 4</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>13, 2</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>13, 3</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>13, 4</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>0, 3</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>2, 1</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>3, 0</string>
		</dict>
	</array>
	<key>StartTime</key>
	<date>1921-05-12T07:19:00Z</date>
	<key>TickIntervalSecs</key>
	<integer>15</integer>
	<key>Trains</key>
	<array>
		<dict>
			<key>ArrivalTime</key>
			<string>07:50</string>
			<key>Arrives</key>
			<array>
				<string>To SF</string>
			</array>
			<key>Departs</key>
			<string>LA</string>
			<key>DepartureTime</key>
			<string>07:20</string>
			<key>Description</key>
			<string>Night train from Los Angeles.</string>
			<key>Direction</key>
			<string>West</string>
			<key>Identifier</key>
			<string>75</string>
			<key>Name</key>
			<string>Lark</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Speed</key>
			<integer>20</integer>
            <key>TimetableEntry</key>
            <dict><key>San Jose Market St.</key><string>7:35</string><key>Santa Clara</key><string>7:50</string><key>Valbrick</key><string>7:20</string></dict>
            <key>Becomes</key>
            <array/>
		</dict>
		<dict>
			<key>ArrivalTime</key>
			<string>09:20</string>
			<key>Arrives</key>
			<array>
				<string>LA</string>
			</array>
			<key>Departs</key>
			<string>From SF</string>
			<key>DepartureTime</key>
			<string>09:00</string>
			<key>Description</key>
			<string>First class train to Los Angeles</string>
			<key>Direction</key>
			<string>East</string>
			<key>Identifier</key>
			<string>98</string>
			<key>Name</key>
			<string>Morning Daylight</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Speed</key>
			<integer>20</integer>
            <key>TimetableEntry</key>
            <dict>
                <key>San Jose Market St.</key><string>9:00</string>
                <key>Santa Clara</key>
                <string>9:10</string><key>Valbrick</key><string>9:20</string></dict>
            <key>Becomes</key>
            <array/>
		</dict>
		<dict>
			<key>ArrivalTime</key>
			<string>07:40</string>
			<key>Arrives</key>
			<array>
				<string>To SF</string>
			</array>
			<key>Departs</key>
			<string>Market St. #2</string>
			<key>DepartureTime</key>
			<string>07:20</string>
			<key>Description</key>
			<string>Commute train to San Francisco</string>
			<key>Direction</key>
			<string>West</string>
			<key>Identifier</key>
			<string>111</string>
			<key>Name</key>
			<string>Commute</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Speed</key>
			<integer>15</integer>
            <key>TimetableEntry</key>
            <dict><key>San Jose Market St.</key><string>7:20</string><key>Santa Clara</key><string>7:40</string>
                </dict>
            <key>Becomes</key>
            <array/>
		</dict>
		<dict>
			<key>ArrivalTime</key>
			<string>09:00</string>
			<key>Arrives</key>
			<array>
				<string>LA</string>
			</array>
			<key>Departs</key>
			<string>From SF</string>
			<key>DepartureTime</key>
			<string>07:10</string>
			<key>Description</key>
			<string>Freight to Watsonville</string>
			<key>Direction</key>
			<string>East</string>
			<key>Identifier</key>
			<string>430</string>
			<key>Name</key>
			<string>Freight</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Speed</key>
			<integer>10</integer>
		</dict>
	</array>
    <key>TimetableNames</key>
    <array>
        <string>Santa Clara</string>
        <string>San Jose Market St.</string>
        <string>Valbrick</string>
        <string>Milpitas</string>
        </array>
</dict>
</plist>
