<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Help</key>
	<string>p&lt;/key&gt;
    &lt;string&gt;The Oakland 16th Street scenario models the Southern Pacific tracks leaving Oakland in the 1940’s.  The tracks joined the Oakland Pier and Oakland freight yards with tracks heading east towards Sacramento, Salt Lke City, and points east.  Oakland Pier was the hub of the Southern Pacific’s passenger operations in the Bay Area, with passengers transferring here for ferries that would take them to San Francisco proper.  The Oakland freight yards were the primary location for handling freight cars and repairs in the area.
        &lt;p&gt;
            The scenario handles the track from just east of the Oakland Pier tower past Oakland’s main 16th Street railroad station, and off to Shellmound tower on the east.  This trackage was complex because of the crossing track: passenger trains coming west needed to stop at 16th Street before reaching the pier.  Freight trains, however, had to cross that trackage to stay on the Bay side of the station, but cross back over the passenger tracks to reach the single-track street trackage down Cedar St. that ran to the Oakland yard.
            &lt;p&gt;
                &lt;h3&gt;Orientation&lt;/h3&gt;
                Oakland Pier is west (left) on the track diagram, with the Cedar Street freight trackage coming onto the diagram from the bottom.  The freight mains run along the top of the track diagram, with the Oakland 16th Street station along the bottom of the diagram.  Shellmound Tower’s interlocking is along the right side of the track diagram, with Berkeley, Richmond, Sacramento, and points east off the track diagram to the right.  At times, the Santa Fe terminated their Super Chief streamliner at Oakland Pier; the connection at bottom right is where these trains enter and exit.
                &lt;h3&gt;Usual Practices&lt;/h3&gt;
                Generally, 16th Street’s platform 1 was used by eastbound trains, and platform 2 by westbound.  However, during busy hours, there were enough trains that both platforms needed to be used.
                &lt;p&gt;
                    Freights need to be kept on the freight mains and out of the station; passenger trains need to have priority over freights to keep service smooth.  Most freights are unscheduled, but check your timetable to know when to create openings for the freights to cut across the passenger tracks.
                    &lt;p&gt;
                        The Super Chief, like the SP passenger trains, should not be delayed.  It does not stop at 16th Street, so make sure to keep the freight mains clear around its expected times to avoid delays.
                        &lt;h3&gt;For More Information&lt;/h3&gt;
                        John Signor, Southern Pacific’s Western Division.  Signature Press.

</string>
    <key>CellLengths</key>
    <array>
        <integer>1500</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
                <integer>400</integer>
                <integer>400</integer>
        <integer>800</integer>
        <integer>800</integer>
        <integer>800</integer>
        <integer>800</integer>
        <integer>800</integer>
        <integer>800</integer>
        <integer>800</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
        <integer>400</integer>
    </array>
    <key>TimetableNames</key>
    <array>
        <string>Oakland Pier</string>
        <string>West Oakland Yard</string>
        <string>Oakland 16th Street</string>
        <string>SF Interchange</string>
        <string>Shellmound</string>
    </array>

	<key>Name</key>
	<string>Oakland 16th Street Station</string>
	<key>StartTime</key>
	<date>1935-05-12T07:20:00Z</date>
	<key>TickIntervalSecs</key>
	<integer>30</integer>
	<key>Description</key>
	<string>Handle the trains coming and going from the Oakland Pier in the 1930&apos;s. The Oakland Pier was the center for SP passenger operations on the east shore of San Francisco Bay, but all trains needed to stop at Oakland&apos;s official 16th Street station.  Freight trains needed to pass around the station, then take a separate line down Cedar Street to access the freight yards.</string>
	<key>Schematic</key>
	<array>
		<string>    Z----q-----Q-------Q----z   </string>
		<string> .-P-qQ-Pq------pQ------pqQ--pq.</string>
		<string> .-qP-QpPQ--z   Z-pQ---qP--pqP-.</string>
		<string> .w    W--pz W-w Z--pQP----w    </string>
		<string>            W---w     \         </string>
		<string>                       W-.      </string>
		<string>                                </string>
	</array>
	<key>Endpoints</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Port Costa EB</string>
			<key>Location</key>
			<string>31,2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Port Costa WB</string>
			<key>Location</key>
			<string>31, 1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Oak Pier EB</string>
			<key>Location</key>
			<string>1,2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Oak Pier WB</string>
			<key>Location</key>
			<string>1, 1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cedar Frt</string>
			<key>Location</key>
			<string>1,3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Oak 16th #1</string>
			<key>Location</key>
			<string>14, 4</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Oak 16th #2</string>
			<key>Location</key>
			<string>14, 3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Santa Fe</string>
			<key>Location</key>
			<string>25, 5</string>
		</dict>
	</array>
	<key>Signals</key>
	<array>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>31, 1</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>1, 2</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>1, 3</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>14, 3</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>14, 3</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>14, 4</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>14, 4</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>25, 5</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>11, 0</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>11, 1</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>11, 2</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>11, 3</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>West</string>
			<key>Location</key>
			<string>8, 3</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>14, 0-</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>15, 1</string>
		</dict>
		<dict>
			<key>Direction</key>
			<string>East</string>
			<key>Location</key>
			<string>15, 1</string>
		</dict>
	</array>
	<key>Trains</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>224</string>
			<key>Name</key>
			<string>Senator</string>
			<key>Description</key>
			<string>To Sacramento</string>
			<key>Direction</key>
			<string>East</string>
			<key>Departs</key>
			<string>Oak Pier EB</string>
			<key>DepartureTime</key>
			<string>07:56</string>
			<key>Arrives</key>
			<array>
				<string>Port Costa EB</string>
			</array>
			<key>ArrivalTime</key>
			<string>08:08</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>7:56</string>
                <key>Oakland 16th Street</key>
                <string>8:02</string>
                <key>Shellmound</key>
                <string>8:08</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>21</string>
			<key>Name</key>
			<string>Pacific Limited</string>
			<key>Description</key>
			<string>From Chicago</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>07:30</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>07:45</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>7:45</string>
                <key>Oakland 16th Street</key>
                <string>7:35</string>
                <key>Shellmound</key>
                <string>7:30</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>52</string>
			<key>Name</key>
			<string>San Joaquin Daylight</string>
			<key>Description</key>
			<string>To Bakersfield</string>
			<key>Direction</key>
			<string>East</string>
			<key>Departs</key>
			<string>Oak Pier EB</string>
			<key>DepartureTime</key>
			<string>08:25</string>
			<key>Arrives</key>
			<array>
				<string>Port Costa EB</string>
			</array>
			<key>ArrivalTime</key>
			<string>08:40</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>8:25</string>
                <key>Oakland 16th Street</key>
                <string>8:32</string>
                <key>Shellmound</key>
                <string>8:40</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>56</string>
			<key>Name</key>
			<string>Passenger</string>
			<key>Description</key>
			<string>To Tracy</string>
			<key>Direction</key>
			<string>East</string>
			<key>Departs</key>
			<string>Oak Pier EB</string>
			<key>DepartureTime</key>
			<string>08:25</string>
			<key>Arrives</key>
			<array>
				<string>Port Costa EB</string>
			</array>
			<key>ArrivalTime</key>
			<string>08:40</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>8:25</string>
                <key>Oakland 16th Street</key>
                <string>8:35</string>
                <key>Shellmound</key>
                <string>8:40</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>23</string>
			<key>Name</key>
			<string>Challenger</string>
			<key>Description</key>
			<string>From Chicago</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>07:35</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>07:48</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>7:55</string>
                <key>Oakland 16th Street</key>
                <string>7:46</string>
                <key>Shellmound</key>
                <string>7:35</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>19</string>
			<key>Name</key>
			<string>Klamath</string>
			<key>Description</key>
			<string>From Portland</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>07:40</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>07:55</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>7:55</string>
                <key>Oakland 16th Street</key>
                <string>7:48</string>
                <key>Shellmound</key>
                <string>7:40</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>57</string>
			<key>Name</key>
			<string>Owl</string>
			<key>Description</key>
			<string>Night train from Los Angeles</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>08:15</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>08:35</string>
			<key>Timetable</key>
			<dict>
				<key>Oak 16th</key>
				<string>08:25</string>
			</dict>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>8:35</string>
                <key>Oakland 16th Street</key>
                <string>8:25</string>
                <key>Shellmound</key>
                <string>8:15</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>101</string>
			<key>Name</key>
			<string>City of San Francisco</string>
			<key>Description</key>
			<string>Streamliner from Chicago</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>08:40</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>09:00</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>9:00</string>
                <key>Oakland 16th Street</key>
                <string>8:50</string>
                <key>Shellmound</key>
                <string>8:40</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>247</string>
			<key>Name</key>
			<string>El Dorado</string>
			<key>Description</key>
			<string>Cheaper train from Chicago</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>09:23</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>09:38</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>9:38</string>
                <key>Oakland 16th Street</key>
                <string>9:30</string>
                <key>Shellmound</key>
                <string>9:23</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>28</string>
			<key>Name</key>
			<string>Overland Limited</string>
			<key>Description</key>
			<string>Streamliner to Chicago</string>
			<key>Direction</key>
			<string>East</string>
			<key>Departs</key>
			<string>Oakland Pier</string>
			<key>DepartureTime</key>
			<string>11:45</string>
			<key>Arrives</key>
			<array>
				<string>Port Costa EB</string>
			</array>
			<key>ArrivalTime</key>
			<string>12:01</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>11:45</string>
                <key>Oakland 16th Street</key>
                <string>11:52</string>
                <key>Shellmound</key>
                <string>12:01</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>246</string>
			<key>Name</key>
			<string>Statesman</string>
			<key>Description</key>
			<string>To Sacramento</string>
			<key>Direction</key>
			<string>East</string>
			<key>Departs</key>
			<string>Oak Pier EB</string>
			<key>DepartureTime</key>
			<string>13:40</string>
			<key>Arrives</key>
			<array>
				<string>Port Costa EB</string>
			</array>
			<key>ArrivalTime</key>
			<string>14:00</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>13:40</string>
                <key>Oakland 16th Street</key>
                <string>13:50</string>
                <key>Shellmound</key>
                <string>14:00</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>11</string>
			<key>Name</key>
			<string>Cascade</string>
			<key>Description</key>
			<string>Streamliner from Portland</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>10:30</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>10:50</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>10:50</string>
                <key>Oakland 16th Street</key>
                <string>10:40</string>
                <key>Shellmound</key>
                <string>10:30</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>13</string>
			<key>Name</key>
			<string>Beaver</string>
			<key>Description</key>
			<string>Economy train from Portland</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>10:50</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>11:10</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>11:10</string>
                <key>Oakland 16th Street</key>
                <string>11:00</string>
                <key>Shellmound</key>
                <string>10:50</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>27</string>
			<key>Name</key>
			<string>Overland Limited</string>
			<key>Description</key>
			<string>Streamliner from Chicago</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>14:00</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>14:20</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>14:20</string>
                <key>Oakland 16th Street</key>
                <string>14:10</string>
                <key>Shellmound</key>
                <string>14:00</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>SF 1</string>
			<key>Name</key>
			<string>Super Chief</string>
			<key>Description</key>
			<string>Santa Fe&apos;s train to Chicago&apos;</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Santa Fe</string>
			<key>DepartureTime</key>
			<string>08:45</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>09:00</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>Oakland Pier</key>
                <string>9:00</string>
                <key>SF Interchange</key>
                <string>8:45</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>465</string>
			<key>Name</key>
			<string>Freight</string>
			<key>Description</key>
			<string>Freight from Port Costa</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>13:40</string>
			<key>Arrives</key>
			<array>
				<string>Oak Pier WB</string>
			</array>
			<key>ArrivalTime</key>
			<string>14:00</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>West Oakland Yard</key>
                <string>14:00</string>
                <key>Shellmound</key>
                <string>13:40</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>464</string>
			<key>Name</key>
			<string>Freight</string>
			<key>Description</key>
			<string>Freight to Port Costa</string>
			<key>Direction</key>
			<string>East</string>
			<key>Departs</key>
			<string>Cedar Frt</string>
			<key>DepartureTime</key>
			<string>09:00</string>
			<key>Arrives</key>
			<array>
				<string>Port Costa EB</string>
			</array>
			<key>ArrivalTime</key>
            <string>9:25</string>
			<key>OnTimetable</key>
			<integer>1</integer>
			<key>Becomes</key>
			<array/>
            <key>TimetableEntry</key>
            <dict>
                <key>West Oakland Yard</key>
                <string>9:00</string>
                <key>Shellmound</key>
                <string>9:25</string>
            </dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>X2765</string>
			<key>Name</key>
			<string>Freight</string>
			<key>Description</key>
			<string>Berkeley Switcher</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>07:40</string>
			<key>Arrives</key>
			<array>
				<string>Cedar Frt</string>
			</array>
			<key>ArrivalTime</key>
			<string>10:00</string>
			<key>OnTimetable</key>
			<integer>0</integer>
			<key>Becomes</key>
			<array/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>X3921</string>
			<key>Name</key>
			<string>Freight</string>
			<key>Description</key>
			<string>Freight</string>
			<key>Direction</key>
			<string>East</string>
			<key>Departs</key>
			<string>Cedar Frt</string>
			<key>DepartureTime</key>
			<string>08:55</string>
			<key>Arrives</key>
			<array>
				<string>Port Costa EB</string>
			</array>
			<key>ArrivalTime</key>
			<string>09:50</string>
			<key>OnTimetable</key>
			<integer>0</integer>
			<key>Becomes</key>
			<array/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>X2722</string>
			<key>Name</key>
			<string>Freight</string>
			<key>Description</key>
			<string>Richmond Freight</string>
			<key>Direction</key>
			<string>East</string>
			<key>Departs</key>
			<string>Cedar Frt</string>
			<key>DepartureTime</key>
			<string>09:15</string>
			<key>Arrives</key>
			<array>
				<string>Port Costa EB</string>
			</array>
			<key>ArrivalTime</key>
			<string>10:15</string>
			<key>OnTimetable</key>
			<integer>0</integer>
			<key>Becomes</key>
			<array/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>X3225</string>
			<key>Name</key>
			<string>Freight</string>
			<key>Description</key>
			<string>Santa Fe Interchange</string>
			<key>Direction</key>
			<string>East</string>
			<key>Departs</key>
			<string>Cedar Frt</string>
			<key>DepartureTime</key>
			<string>09:30</string>
			<key>Arrives</key>
			<array>
				<string>Santa Fe</string>
			</array>
			<key>ArrivalTime</key>
			<string>10:50</string>
			<key>OnTimetable</key>
			<integer>0</integer>
			<key>Becomes</key>
			<array/>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>X3221</string>
			<key>Name</key>
			<string>Freight</string>
			<key>Description</key>
			<string>Martinez turn</string>
			<key>Direction</key>
			<string>West</string>
			<key>Departs</key>
			<string>Port Costa WB</string>
			<key>DepartureTime</key>
			<string>09:50</string>
			<key>Arrives</key>
			<array>
				<string>Cedar Frt</string>
			</array>
			<key>ArrivalTime</key>
			<string>11:30</string>
			<key>OnTimetable</key>
			<integer>0</integer>
			<key>Becomes</key>
			<array/>
		</dict>
	</array>
	<key>Labels</key>
	<dict>
		<key>16th Street Station</key>
		<string>15, 6</string>
		<key>Oak Pier Tower</key>
		<string>1,5</string>
		<key>Shellmound Tower</key>
		<string>27, 5</string>
	</dict>
</dict>
</plist>
