<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Scenario Editor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SwitchTower.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E5CEF7A1C0CE28200CC9773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5CEF8F1C0CE28200CC9773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5CEF9A1C0CE28300CC9773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5CEFAE1C0CE2D100CC9773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5CEFC31C0CE2D100CC9773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5CEFCE1C0CE2D100CC9773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5CEFE51C0CE5EB00CC9773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5CEFFD1C0CE5EB00CC9773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E5CF0081C0CE5EB00CC9773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E81D49718BA8429001989A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E81D4B818BA8429001989A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
